crystalboxinfo {
    position: absolute;
    opacity: 0;
    bottom: 20%;
    width: 27%;

    .boxPanel {
        border: 5px solid black;
        width: 100%;
        height: 100%;
        background-color: rgb(100 100 100);
        flex-direction: column;

        .title {
            font-family: Poppins;
            font-size: 48px;
            color: white;
            text-align: center;
        }

        .desc {
            font-family: Poppins;
            font-size: 24px;
            color: white;
            text-align: center;
        }

        .str {
            font-family: Poppins;
            font-size: 32px;
            color: white;
        }

        .level {
            font-family: Poppins;
            font-size: 32px;
            color: white;
        }
    }

    &.isHovering {
        opacity: 1;
    }
}
