hostsetup {
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 100%;
    bottom: 15%;

    .hoster {
        font-weight: 200;
        font-family: Poppins;
        font-size: 64px;
        color: white;
        display: none;
        text-align: center;

        &.active {
            display: flex;
        }
    }

    .hostMenu {
        backdrop-filter: blur(5px);
        display: none;
        width: 100%;
        height: 60%;
        background-color: rgb(33, 33, 33);
        box-shadow: 0 0 5px black;
        min-height: 30px;

        &.active {
            pointer-events: all;
            display: flex;
        }
    }

    .nonhoster {
        font-weight: 200;
        font-family: Poppins;
        font-size: 64px;
        color: white;
        display: none;

        &.active {
            display: flex;
        }
    }
}
