$debugOutlime: 2px solid red;

hostsetup {
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 100%;
    bottom: 15%;

    .hoster {
        font-weight: 200;
        font-family: Poppins;
        font-size: 64px;
        color: white;
        display: none;
        text-align: center;

        &.active {
            display: flex;
        }
    }

    .hostMenu {
        padding: 12px;
        border: 6px solid white;
        backdrop-filter: blur(5px);
        display: none;
        min-width: 30%;
        background-color: rgb(55, 55, 55);
        box-shadow: 0 0 5px black;
        align-items: center;
        flex-direction: column;

        .roundPnl, .pointsPnl {
            background-color: rgb(44,44,44);
            margin: 5px;
            padding: 10px;

            .setupText {
                justify-items: center;
                align-content: center;
            }

            .btnDown {
                width: 82px;
                height: 82px;
                background-image: url(ui/minusbtn.png);
                background-size: contain;
            }

            .btnUp {
                width: 82px;
                height: 82px;
                background-image: url(ui/addbtn.png);
                background-size: contain;
            }
        }


        .roundPnl {
            font-family: Poppins;
            font-weight: 300;
            color: white;
            text-align: center;
        }

        .pointsPnl {
            font-family: Poppins;
            font-weight: 300;
            color: white;
            text-align: center;
        }

        &.active {
            pointer-events: all;
            display: flex;
        }
        //border: $debugOutlime;

        .teamsPnl {
            align-items: center;
            width: 100%;
            flex-direction: column;

            .teamsSel {
                width: 100%;
                max-width: 400px;
                justify-content: space-around;
            }

            .text {
                font-family: Poppins;
                color: white;
            }

            .redIcon, .blueIcon, .greenIcon, .yellowIcon {
                width: 64px;
                height: 64px;
                background-size: contain;
                opacity: 0.35;

                &:hover {
                    opacity: 0.6;
                }

                &.active {
                    opacity: 1;
                }
            }

            .redIcon {
                background-image: url(ui/red_team_select_icon.jpg);
            }

            .blueIcon {
                background-image: url(ui/blue_team_select_icon.jpg);
            }

            .greenIcon {
                background-image: url(ui/green_team_select_icon.jpg);
            }

            .yellowIcon {
                background-image: url(ui/yellow_team_select_icon.jpg);
            }
        }

        .submitBtn {
            margin-top: 10px;
            padding: 5px;
            border: 4px solid white;
            background-color: black;

            .submitText {
                font-family: Poppins;
                font-weight: 300;
                text-align: center;
                color: white;
            }
        }
    }

    .nonhoster {
        font-weight: 200;
        font-family: Poppins;
        font-size: 64px;
        color: white;
        display: none;

        &.active {
            display: flex;
        }
    }
}
